



  main {
    max-width: 840px;
    margin: auto;
  }
  aside {
    width: 300px;
    margin: 20px auto;
    border: 2px solid #333;
    padding: 15px;
    background-color: #f5f5f5;
    color: #222;
  }
  aside img {
    width: 200px;
    height: auto;
  }
  main img {
    width: 150px;
    height: auto;
  }
  p {
    padding: 0;
  }
  footer {
    margin-top: 20px;
    border-top: 2px solid #333;
    text-align: center;
  }
        
  